.grid {
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: auto 1fr;
    grid-template-areas: "menu painel"
                         "menu cont";
}

.grid nav {
    grid-area: menu;
}

.grid header {
    grid-area: painel;
}

.grid main {
    grid-area: cont;
    padding: 12px;
    background: #1C1C20;
}

.titulo {
    background: #121214;
    font-size: 14px;
    font-weight: bold;
    color: #E1E1E6;
    width: 100%;
    padding: 4px 0px;
    text-align: center;
    margin-bottom: 12px;
}

.subTitulo {
    background: #0D0D4D;
    font-size: 14px;
    font-weight: bold;
    color: #E1E1E6;
    width: 100%;
    padding: 4px 0px;
    text-align: center;
}

.painel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
    grid-template-areas: "consulta conexoes"
                         "informacoes conexoes";
                         width: 100%;
                         height: calc(100vh - 100px - 3.5rem - 77.44px);
                         gap: 24px 8px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #000000;
}

::-webkit-scrollbar-thumb {
    background-color: #044FBF;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}