.hostColumn {
    display: grid;
    grid-template-columns: calc(100%/6) 1fr auto 0.8fr 1fr 1fr;
    gap: 2px;
    height: 40px;
    color: #E1E1E6;
    width: 100%;
    box-sizing: border-box;

    li {
        min-width: 8vw;
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 16px;
        font-weight: bold;
        padding: 12px;

    }
}

.hostInvertido {
    background: #2C0808 !important ;
    border-block: 1px solid #793737 !important; 
    border-left: 3px solid #FC7273 !important;
}

.invertido {
    li {
        border-block: 1px solid #793737 !important;
        background: #2C0808 !important;
    }
}

.host {
    display: grid;
    width: 100%;
    grid-template-columns: calc(100%/6) 1fr;
    grid-template-areas: "hostname enlace";
    grid-template-rows: auto;
    color: #E1E1E6;
    gap: 2px;
    margin-bottom: 2px;
    font-size: 14px;
    border-radius: 8px;
}

.hostname {
    display: flex;
    grid-area: hostname ;
    align-items: center;
    padding: 12px;
    background: #001C01;
    border-left: 3px solid #00FF00;
    border-block: 1px solid #004A00;
    height: fit-content;
    border-radius: 4px 0px 0px 4px;
}

.enlace {
    display: grid;
    grid-template-columns: 1fr auto 0.8fr 1fr 1fr;
    gap: 2px;

    > li {
        min-width: 8vw;
        display: flex;
        align-items: center;
        padding: 12px;
        margin-bottom: 2px;
        background-color: #001C01;
        border-block: 1px solid #004A00;
    }
}