# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings


# The server uses prisma ORM to manage the database and is configured to access a postgre database
# to change the database type, go to file server/prisma/schema.prisma and change the line 10.
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public"

# LDAP Options
LDAP_ENDPOINT="ldap://google.com"
LDAP_USER_SEARCH_BASE=""
LDAP_ATTRIBUTES="cn,sn,mail,uid,givenname"

# Snmp community that will query the switches
COMMUNITY_HOST="community"

# Backend server port, Default 5001
PORT="5001"

# Backend server host, default "0.0.0.0"
# See the documentation for all the connection string options: https://fastify.dev/docs/latest/Reference/Server#listen
HOST="0.0.0.0"

#
JWT_SECRET="123456789"
